@page
@model KenApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="input-group mb-3">
    <label class="input-group-text" for="searchBy">Search By</label>
    <select class="form-select" id="searchBy" asp-for="SearchParams.SearchBy">
        <option value="" selected>Choose...</option>
        <option value="Name">Name</option>
        <option value="Industry">Industry</option>
        <option value="Location">Location</option>
        <option value="Employees">Employees</option>
    </select>

    <input type="text" id="keyword" class="form-control" asp-for="SearchParams.Keyword">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="search()">Search</button>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Name
                <div class="btn-group" role="group" aria-label="">
                    <a asp-page="./Index" asp-route-sortBy="name" asp-route-sortAsc="false" class="btn btn-secondary">&lt;</a>
                    <a asp-page="./Index" asp-route-sortBy="name" asp-route-sortAsc="true" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Industry
                <div class="btn-group" role="group" aria-label="">
                    <a asp-page="./Index" asp-route-sortBy="industry" asp-route-sortAsc="false" class="btn btn-secondary">&lt;</a>
                    <a asp-page="./Index" asp-route-sortBy="industry" asp-route-sortAsc="true" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Location
                <div class="btn-group" role="group" aria-label="">
                    <a asp-page="./Index" asp-route-sortBy="location" asp-route-sortAsc="false" class="btn btn-secondary">&lt;</a>
                    <a asp-page="./Index" asp-route-sortBy="location" asp-route-sortAsc="true" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Employees
                <div class="btn-group" role="group" aria-label="">
                    <a asp-page="./Index" asp-route-sortBy="employees" asp-route-sortAsc="false" class="btn btn-secondary">&lt;</a>
                    <a asp-page="./Index" asp-route-sortBy="employees" asp-route-sortAsc="true" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model.Companies)
        {
            <tr>
                <td>@company.Name</td>
                <td>@company.Industry</td>
                <td>@company.Location</td>
                <td>@company.Employees</td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pagination">
        @{
            var paramString = "sortBy=" + Model.SearchParams.SortBy + "&sortAsc=" + Model.SearchParams.SortAsc + "&keyword=" + Model.SearchParams.Keyword + "&searchBy=" + Model.SearchParams.SearchBy;
        }
        @{
            if (Model.SearchParams.PageIndex > 1)
            {
                int prev = 1;
                prev = (Model.SearchParams.PageIndex - 1) < 1 ? 1 : (Model.SearchParams.PageIndex - 1);

                <li class="page-item">
                    <a class="page-link" href="~/index?@(paramString)&pageSize=@(Model.SearchParams!.PageSize)&pageIndex=@(prev)">Previous</a>
                </li>
            }
        }
        <li class="page-item active"><a class="page-link" href="#">@Model.SearchParams.PageIndex of @(Model.SearchParams.PageCount)</a></li>
        @{
            if (Model.SearchParams.PageIndex < Model.SearchParams.PageCount)
            {

                int next = 1;
                next = (Model.SearchParams.PageIndex + 1) > Model.SearchParams.PageCount ? Model.SearchParams.PageCount : (Model.SearchParams.PageIndex + 1);

                <li class="page-item">
                    <a class="page-link" href="~/index?@(paramString)&pageSize=@(Model.SearchParams!.PageSize)&pageIndex=@(next)">Next</a>
                </li>
            }
        }
    </ul>
</nav>

@section Scripts {
    <script>
        function search() {
            window.location = "?sortBy=Make&sortAsc=false&searchBy=" + $("#searchBy").val() + "&keyword=" + $("#keyword").val()
        }
    </script>
}
